<div class="container">
  <h2>{{ isEditMode ? 'Editar Cliente' : 'Agregar Nuevo Cliente' }}</h2>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="firstName">Nombres:</label>
      <input id="firstName" formControlName="firstName">
      <div *ngIf="formControls['firstName'].touched && formControls['firstName'].invalid">
        <small *ngIf="formControls['firstName'].errors?.['required']">El nombre es obligatorio.</small>
      </div>
    </div>
    <div>
      <label for="lastName">Apellidos:</label>
      <input id="lastName" formControlName="lastName">
      <div *ngIf="formControls['lastName'].touched && formControls['lastName'].invalid">
        <small *ngIf="formControls['lastName'].errors?.['required']">El apellido es obligatorio.</small>
      </div>
    </div>
    <div>
      <label for="email">Correo Electrónico:</label>
      <input id="email" type="email" formControlName="email">
       <div *ngIf="formControls['email'].touched && formControls['email'].errors?.['email']">
        <small>Formato de correo inválido.</small>
      </div>
    </div>
    <div>
      <label for="phone">Teléfono:</label>
      <input id="phone" formControlName="phone">
    </div>
    <div>
      <label for="address">Dirección:</label>
      <textarea id="address" formControlName="address"></textarea>
    </div>
    <div class="form-actions">
      <button type="submit" class="button button-primary" [disabled]="clientForm.invalid">{{ isEditMode ? 'Actualizar' : 'Guardar' }} Cliente</button>
      <button type="button" class="button button-secondary" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</div>
